    h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex: 1;
        flex-direction: column;

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input,
        select,
        textarea {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            font-size: normal;
        }
    }

    // Hàng 1: Tên sản phẩm & Giá tiền
    .row-1,
    .row-3 {
        display: flex;
        gap: 20px;
        align-items: center;

        .form-group {
            flex: 1;
            min-width: 0; // Cho phép co giãn
        }
    }

    // Hàng 2: Danh mục sản phẩm
    .row-2 .form-group {
        width: 105%;
    }

    // Hàng cuối: Hình ảnh sản phẩm + Xem trước ảnh
    .row-4 {
        display: flex;
        flex-direction: column;
        align-items: center;


        .image-preview {
            margin-bottom: 5px;

            img {
                max-width: 150px;
                height: auto;
                border-radius: 5px;
                border: 1px solid #ddd;
            }
        }
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: #0056b3;
        }
    }