$primary-color: #007bff;
$secondary-color: #343a40;
$font-family: 'Arial, sans-serif';
$white-color: #ffffff;
$icon-color: #505050;
$border-color: #ccc;

.add-attribute-form {
    background-color: $white-color;
    border-radius: none;
    box-shadow: none;
    border: none;
}