$color-primary: #212631; // Màu nền chính
$color-secondary: #34495e; // Màu nền phụ
$color-hover: #3b4b5a; // Màu nền khi hover
$color-text: #ecf0f1; // Màu chữ
$color-text-muted: #bdc3c7; // Màu chữ mờ

$font-family: 'Golos Text', sans-serif; // Font chính
$font-size-base: 15px; // Kích thước font cơ bản
$font-size-small: 14px; // Font nhỏ
$font-size-large: 23px; // Font lớn icon

$padding-base: 20px; // Khoảng cách padding cơ bản
$padding-small: 10px; // Padding nhỏ
$margin-base: 10px; // Khoảng cách margin cơ bản

$box-shadow-light: 2px 0 5px rgba(0, 0, 0, 0.1); // Bóng nhẹ

.navbar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120vh;
    background-color: $color-primary;
    color: $color-text;
    box-shadow: $box-shadow-light;

    .navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(226, 200, 200, 0.1);

        img {
            max-width: 80%;
            height: auto;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            width: 100%;

            a {
                display: flex;
                align-items: center;
                padding: $padding-base;
                text-decoration: none;
                color: $color-text;
                font-family: $font-family;
                font-size: $font-size-base;
                font-weight: 100;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $color-hover;
                }

                .icon {
                    margin-right: $padding-small;
                    font-size: $font-size-large;
                }
            }

            &.has-submenu {
                position: relative;

                .submenu {
                    display: none;
                    position: absolute;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    border-radius: 4px;
                    width: 200px;
                    background-color: $color-primary;
                    box-shadow: $box-shadow-light;

                    li {
                        a {
                            padding: $padding-small;
                            font-size: $font-size-small;

                            &:hover {
                                background-color: $color-hover;
                            }


                        }
                    }
                }

                &:hover ul.submenu {
                    display: block;
                    left: 100%;
                    top: 0;
                }
            }
        }
    }
}